// Place all the styles related to the garagedoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
	margin-top: 75px;
	min-height: 75px;
	text-align: center;
}
.center{
	text-align: center;
}

.status{
	margin-top: 150px;
}